<h3>Upcoming Bills</h3>
<ul>
  {{#each bill in model}}
      <li>
        <span class="bill-description">
          {{#link-to 'bill-info' bill.bill_id}}{{bill.description}}{{/link-to}}
        </span><br>
      </li>
  {{/each}}
</ul>
