<h3>Recent Bills</h3>
<ul>
  {{#each recentBill in model}}
      <li>
        <span class="bill-description">
          {{#link-to 'bill-info' recentBill.bill_id}}{{recentBill.official_title}}{{/link-to}}
        </span><br>
      </li>
  {{/each}}
</ul>
